.denahBlock{
    user-select: none;
    display:inline-block;
    box-shadow:inset 0px 0px 0px 0px red;
    /* transition: all ease-out .1s; */
}

.denahBlock:hover{
    box-shadow:inset 0px 0px 0px 4px red;
}